body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #12b30d;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-list li {
    float: left;
}

.navbar-list li a {
    display: block;
    color: rgb(45, 97, 40);
    text-align: center;
    padding: 20px 91px;
    text-decoration: none;
}

.navbar-list li a:hover {
    background-color: #12941d;
    color: black;
}

.navbar-list li img {
    max-width: 30px;
    max-height: 20px;
    margin: 5px;
