body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #12b30d;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 60px;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-list li {
    float: left;
}

.navbar-list li a {
    display: block;
    color: rgb(45, 97, 40);
    text-align: center;
    padding: 20px 91px;
    text-decoration: none;
    position: relative;
    left: 150px;
}

.navbar-list li a:hover {
    background-color: #12941d;
    color: black;
}

.navbar-list li img {
    max-width: 200px;
    max-height: 40px;
    margin: 5px;
    position: relative;
    margin-left: -300px;
    top: 5px;   
}

.search-container {
    display: flex;
    margin: 20px;
}

#search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    transition: border-color 0.3s ease;
    position: relative;
    left: 300px;
    top: -10px;
    height: 13px;
}

#search-input:focus {
    border-color: #368340;
}
    
#search-button {
    padding: 10px 10px;
    background-color: #216e21;
    border: none;
    color: white;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    position: relative;
    left: 300px;
    top: -10px;
    height: 35px;
}
