body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: #65a76a;
}

.navbar {
    background-color: #12b30d;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 60px;
    overflow: hidden;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-list li {
    float: left;
}

.navbar-list li a {
    display: block;
    color: rgb(45, 97, 40);
    text-align: center;
    padding: 20px 80px;
    text-decoration: none;
    position: relative;
    left: 100px;
}

.navbar-list li a:hover {
    background-color: #12941d;
    color: black;
}

.navbar-list li img {
    max-width: 200px;
    max-height: 40px;
    margin: 5px;
    position: relative;
    margin-left: -100px;
    top: 5px;   
}

.search-container {
    display: flex;
    margin: 20px;
}

#search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    transition: border-color 0.3s ease;
    position: relative;
    left: 150px;
    top: -10px;
    height: 13px;
}

#search-input:focus {
    border-color: #368340;
}
    
#search-button {
    padding: 10px 10px;
    background-color: #216e21;
    border: none;
    color: white;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    position: relative;
    left: 150px;
    top: -10px;
    height: 35px;
}

.content {
    height: 520px;
    width: 935px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 3px solid #ffffff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.bar:hover {
    background-color: #ffffff;
}

.slides input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -20%;
}

#slide3:checked ~ .s1 {
    margin-left: -40%;
}

#slide4:checked ~ .s1 {
    margin-left: -60%;
}

#slide5:checked ~ .s1 {
    margin-left: -80%;
}

.img1 {
    width: 20%;
    position: relative;
    top: 80%;
    margin: 100px;
    overflow: hidden;
    border-radius: 40px;
    margin-left: 60px;
}

.img2 {
    width: 20%;
    position: relative;
    top: 130%;
    margin: 100px;
    overflow: hidden;
    border-radius: 40px;
    margin-left: -26.5%;
}

.img3 {
    width: 20%;
    position: relative;
    top: 180%;
    margin: 100px;
    overflow: hidden;
    border-radius: 40px;
    margin-left: -26.8%;
}

.img1:hover {
width: 330px;
transition: 2s;
}

.img2:hover {
    width: 330px;
    transition: 2s;
}

.img3:hover {
    width: 330px;
    padding: 10px;
    transition: 2s;
}

.titulo1 {
    position: relative;
    top: 30%;
    left: 32%;
    color: #ffffff;
    line-height: 1em;
    text-align: center;
    font-size: 40px;
    padding: 0; 
    margin: 0; 
    max-width: 40%;
    cursor: pointer;
}

.titulo2 {
    position: relative;
    top: 35%;
    left: 27%;
    color: #ffffff;
    text-align: center;
    text-decoration: underline;
    font-size: 20px; line-height: 1em;
    cursor: pointer;
    margin: 0;
    max-width: 50%;
}

.titulo1:hover {
    font-size: 45px;
    transition: 1.5s;
}

.titulo3 {
    position: relative;
    top: 50%;
    left: 27%;
    color: #ffffff;
    text-align: center;
    font-size: 40px; line-height: 1em;
    cursor: pointer;
    margin: 0;
    max-width: 50%;
}

.titulo3:hover {
    font-size: 45px;
    transition: 1.5s;
}

.titulo4 {
    position: relative;
    top: 55%;
    left: 27%;
    color: #ffffff;
    text-align: center;
    text-decoration: underline;
    font-size: 20px; line-height: 1em;
    cursor: pointer;
    margin: 0;
    max-width: 50%;
}

.titulo5 {
    position: relative;
    top: 78%;
    left: 27%;
    color: #ffffff;
    text-align: center;
    font-size: 40px; line-height: 1em;
    cursor: pointer;
    margin: 0;
    max-width: 50%;
}

.titulo5:hover {
    font-size: 45px;
    transition: 1.5s;
}

.titulo6 {
    position: relative;
    top: 85%;
    left: 27%;
    color: #ffffff;
    text-align: center;
    text-decoration: underline;
    font-size: 20px; line-height: 1em;
    cursor: pointer;
    margin: 0;
    max-width: 50%;
}
